
.App{
    box-sizing: border-box;  
    height: 100%;
    background-color:  #E1DDDA;
    
}
.game-container{
  height: 80%;
  width: 60%;
  margin: auto;
  border: 1px solid rgba(109, 105, 105, 0.5);
  border-radius: 10px;
  background-color: #c5fa07;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.bird{
  background-image: url("../public/bird.png");
  width: 70px;
  height: 70px;
  position: absolute;
  transform: translate(0%, -50%);
}
.engelTop{
    width: 70px;
    height: 150px;
    left: 410px;
    color: darkgreen;
    position: absolute;
    background-image: url("../public/pipetest.png");
}
.engelBottom{
  width: 70px;
  height: 150px;
  
  bottom: 0px;
  color: darkgreen;
  position: absolute;
  background-image: url("../public/pipetest.png");

}